{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Home</title>

    
</head>
<body>
    <header>
        <h1>Header</h1>
        <!-- <a href="{ % url 'home' % }">HomePage</a> -->
    </header>
    <main>
        {% block content %}

        {% endblock content %}

    </main>
    <footer >
        <h3>Footer</h3>
    </footer>
</body>         
</html>