{% extends 'base.html' %}

{% block title %}Удаление видео{% endblock %}

{% block content %}

<style>

    /* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    {% comment %} background-image: url("{% static 'path/to/your/image.jpg' %}"); {% endcomment %}
    background-size: cover;
    background-position: center;
    color: #333;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #dc143c;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный фон для улучшения читабельности */
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Стили для формы */
form {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #dc143c;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный фон */
    text-align: center;
}

form p {
    margin-bottom: 20px;
}

form button {
    padding: 10px 20px;
    background-color: #dc143c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    margin-right: 10px;
}

form button:hover {
    background-color: #ff4500;
}

form a {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 16px;
}

form a:hover {
    background-color: #45a049;
}


</style>



    <h2>Удалить видео</h2>
    <p>Вы уверены, что хотите удалить "{{ video.title }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Удалить</button>
        <a href="{% url 'video-list' %}">Отмена</a>
    </form>
{% endblock %}
