{% extends "index.html" %}
{% block content %}
<style>
    .Sec3{
    color: white;
    width: 100%;
    text-align: center;
    height: 200px;
    background-color: #000000;
}
</style>
<div class="Sec3">
    <h1 style="padding-top: 80px; margin-bottom: 20px">Tour Dates</h1>
    <p>Remember to book your tickets!</p>
  </div>
  <div class="Sec4">
    <div class="September">
      <p style="padding-top: 20px">
        September
        <span style="color: white; background-color: red; margin-left: 20px"
          >Sold out</span
        >
      </p>
      <hr style="height: 20px" />
      <p>
        October
        <span style="color: white; background-color: red; margin-left: 20px"
          >Sold out</span
        >
      </p>
      <hr style="height: 20px" />
      <p>November</p>
    </div>



    



    
{% endblock content %}
