{% extends 'base.html' %}

{% block content %}

<style>

/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

</style>

<h1>Log In</h1>

<form action="" method="post">
    {% csrf_token %}

    {{form.as_p}}   

<button type="submit">Log In</button>

<a href="{% url 'signup' %}">Sign Up</a>
</form>

{% endblock content %}